@{
    ViewData["Title"] = "About";
}

<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset=" utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>@ViewData["Title"] - Team Management System</title>
    <link rel="stylesheet" href="~/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700">
    <link rel="stylesheet" href="~/assets/css/Hero-Carousel-images.css">
    <link rel="stylesheet" href="~/assets/css/Navbar-Right-Links-Dark-icons.css">
    <link rel="stylesheet" href="~/assets/css/User-Tasks-and-User-Activity-Streams---List-Group-Component.css">
    <style>
        body {
            color: white;
            background: url('@Url.Content("~/assets/img/pexels-jplenio-1103970.jpg")') center / cover;
        }
    </style>
</head>

<body>
    <div class="container py-4 py-xl-5">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: white;">About Team Management System</h2>
                <p class="w-lg-50" style="color: white;">Task Management User Friendly with ASP.NET MVC etc text&nbsp;</p>
            </div>
        </div>
        <div class="row gy-4 row-cols-1 row-cols-md-2">
            <div class="col">
                <div class="d-flex flex-column flex-lg-row">
                    <div class="w-100">
                        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    </div>
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4 style="color: white;">Admin Panel</h4>
                        <p style="color: white;">Task Management System Admin Panel text</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column flex-lg-row">
                    <div class="w-100">
                        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    </div>
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4 style="color: white;">Manage All Tasks</h4>
                        <p style="color: white;">Manage All Tasks usage text</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column flex-lg-row">
                    <div class="w-100">
                        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    </div>
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4 style="color: white;">Dashboard Panel</h4>
                        <p style="color: white;">Dashboard Panel Text</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex flex-column flex-lg-row">
                    <div class="w-100">
                        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 200px;" src="https://cdn.bootstrapstudio.io/placeholders/1400x800.png">
                    </div>
                    <div class="py-4 py-lg-0 px-lg-4">
                        <h4 style="color: white;">Lorem libero donec</h4>
                        <p style="color: white;">Nullam id dolor id nibh ultricies vehicula ut id elit. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bs-init.js"></script>
    <script src="~/assets/js/theme.js"></script>
</body>

</html>
