@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";       
}

<div class="carousel slide" data-bs-ride="carousel" id="carousel-1" style="height: 680px;">
    <div class="carousel-inner h-100">
        <div class="carousel-item active h-100">
            <img class="w-100 d-block position-absolute h-100 fit-cover" src="/assets/img/pexels-jplenio-1103970.jpg" style="z-index: -1;" width="1194px">
            <div class="container d-flex flex-column justify-content-center h-100" data-aos="fade" data-aos-delay="350">
                <div class="col-md-6 col-xl-4 offset-md-2">
                    <div style="max-width: 350px;">
                        <h1 class="text-uppercase fw-bold" style="color: var(--bs-body-bg);">task management system</h1>
                        <p class="my-3" style="color: var(--bs-body-bg);">Streamline Tasks, Boost Productivity&nbsp;</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev" aria-label="Previous slide"></a>
        <a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next" aria-label="Next slide" style="padding-left: 380px;margin-left: -857px;"></a>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>
    </div>
</div>

